<!doctype html>
<!-- templated based on https://getbootstrap.com/docs/5.0/examples/sign-in/ -->
<html lang="en">
  <head>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/form-validation.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="bg-light text-center">

<main class="form-signin">
  <form id="form_login" method="POST" action="/login">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
 <button id="btn_login" class="g-recaptcha w-100 btn btn-lg btn-primary" 
        data-sitekey="6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq" 
        data-callback='onSubmit' 
        data-action='login'>Login</button>   

    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
    <div>
          <%=ipaddr%>
    </div>
 
    <div id="score"></div>

    <div><a href="/goto?page=page1.html">page1</a></div>

</main>

<script src="js/jquery-min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-.min.js"><\/script>')</script><script src="js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
<script src="js/form-validation.js"></script>
<script src="js/myApp.js"></script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq"></script>
<script>
$(function() {
    console.log( "ready!" );
    $('[id^=btn_]').on("click",myApp.eventHandler);
});
</script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq', {action: 'homepage'}).then(function(token) {
        console.log("got token ");
        //console.log(token);
        //send to backend
        myApp.sendToken(token, myApp.displayScore);
    });
});
</script>    
  <script>
   function onSubmit(token) {
       console.log("submit action "+token);
       // myApp.sendToken(token);
        myApp.login(token);

   }
 </script> 
</body>
</html>

