<!doctype html>
<html lang="en">
  <head>

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">

  <div class="row">
    <div class="col-md-12 order-md-1">

        <h1><%=title%></h1>
  
        <h3><%=content%></h3>
 
        <div><%=ipaddr%></div>
 
        <div id="score"></div>
    </div>
  </div>  
 <button id="btn_test" class="g-recaptcha" 
        data-sitekey="6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq" 
        data-callback='onSubmit' 
        data-action='test'>test button</button>   
        
</div>

<script src="js/jquery-min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-.min.js"><\/script>')</script><script src="js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
<script src="js/form-validation.js"></script>
<script src="js/myApp.js"></script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq"></script>
<script>
$(function() {
    console.log( "ready!" );
    $('[id^=btn_]').on("click",myApp.eventHandler);

    //myApp.
});
</script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6Leu8IMaAAAAAFMhJ1xBqGB63EopViLsQ5KkNxzq', {action: 'page1'}).then(function(token) {
        console.log("got token ");
        console.log(token);
        //send to backend
        myApp.sendToken(token, myApp.displayScore);
    });
});
</script>    
  <script>
   function onSubmit(token) {
       console.log("submit action "+token);
        myApp.sendToken(token, myApp.displayScore);

   }
 </script> 
</body>
</html>

